

#basic-info-component {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    flex-direction: column;
    border: .2rem solid black;
    border-radius: .5rem;
    padding: 1rem;
    position: relative;
    gap: .25rem;
    max-width: 280px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
}

#edit-profile-button {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    padding: 1rem;
    background-color: rgb(25, 116, 207);
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    visibility: hidden;
    transition: opacity .1s;
    opacity: 0;
}

#basic-info-component:hover #edit-profile-button {
    opacity: 1;
    visibility: unset;
}

.profile-info-wrapper > input {
    font-size: 1rem;
    font-weight: 400;
    width: fit-content;
    /* background-color: inherit; */
    color: black;
    border: .15rem solid rgb(14, 148, 206);
    border-radius: .5rem;
}

input:focus {
    outline: .2rem solid rgb(14, 148, 206);
    border: .15rem solid rgba(14, 148, 206, 0);
}

#profile-picture {
    max-width: 20rem;
    border-radius: .5rem;
}

#profile-name {
    display: flex;
    gap: .5rem;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    align-self: center;
    color: black;
}

#profile-name > input {
    height: 1.5rem;
    font-size: 1.5rem;
    /* background-color: inherit; */
    color: black;
    border: .15rem solid rgb(14, 148, 206);
    border-radius: .5rem;
}

.profile-name-edit-state {
    flex-direction: column;
}

.profile-info {
    font-size: 1rem;
    font-weight: 700;
    border-radius: .5rem;
    border: .15rem solid rgba(14, 148, 206, 0);
}

.profile-info-wrapper > span {
    grid-area: 1 / 1 / 1 / 1;
    justify-self: end;
    color: black;
}

.profile-info-wrapper > div {
    color: black;
}

a {
    text-decoration: none;
    display: block;
}

a:visited {
    color: rgb(75, 96, 254);
}

.profile-info-wrapper {
    display: grid;
    gap: 1rem;
    grid-template: 1fr / 1fr 3.3fr;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid black;
}

.profile-info-wrapper-desc {
    display: grid;
    gap: .5rem;
    grid-template: auto 3.3fr / 1fr;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.profile-info-wrapper-desc > div {
    margin-top: .5rem;
    color: black;
    border-bottom: .1rem solid black;
}

#profile-description {
    color: black;
    font-weight: 400;
    border-bottom: none;
}

.profile-info-wrapper-edit {
    display: grid;
    gap: 1rem;
    grid-template: 1fr / auto auto;
    justify-content: space-between;
    align-items: center;
}

.profile-info-wrapper > div {
    overflow-wrap: break-word;
    word-break: break-all;
}

img {
    align-self: center;
}