

#certification-container {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 1rem;
    transition: padding-bottom .5s;
}

#add-cert-button {
    position: absolute;
    bottom: .5rem;
    left: 40%;
    width: max-content;
    padding: 1rem;
    background-color: rgb(25, 116, 207);
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    visibility: hidden;
    transition: opacity .5s;
    opacity: 0;
}

#certification-container:hover {
    padding-bottom: 4rem;
}

#certification-container:hover #add-cert-button {
    opacity: 1;
    visibility: unset;
}

#certification-title {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.cert-component {
    grid-area: 1 / 2 / 1 / 2;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 .1rem .01rem gray;
    border: .1rem solid gray;
    border-radius: .5rem;
    padding: .5rem;
    gap: .5rem;
    margin-bottom: .5rem;
    position: relative;
}

#edit-cert-button {
    position: absolute;
    top: 0.1rem;
    right: 6rem;
    padding: .7rem;
    background-color: rgb(25, 116, 207);
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    visibility: hidden;
    transition: opacity .1s;
    opacity: 0;
}

#save-cert-button {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    padding: .7rem;
    background-color: rgb(25, 116, 207);
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    visibility: hidden;
    transition: opacity .1s;
    opacity: 0;
}

#remove-cert-button {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    padding: .7rem;
    background-color: rgb(188, 36, 36);
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    visibility: hidden;
    transition: opacity .1s;
    opacity: 0;
}

.cert-component:hover #remove-cert-button {
    opacity: 1;
    visibility: unset;
}

.cert-component:hover #save-cert-button {
    opacity: 1;
    visibility: unset;
}

.cert-component:hover #edit-cert-button {
    opacity: 1;
    visibility: unset;
}

.cert-info-wrapper {
    display: grid;
    grid-template: 1fr / 1fr 6fr;
    gap: 1rem;
}

span {
    grid-area: 1 / 1 / 1 / 1;
    justify-self: flex-end;
}

#cert-title {
    font-weight: 700;
}