

#extra-info-container {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 1rem;
    transition: padding-bottom .5s;
}

#add-info-button {
    position: absolute;
    bottom: .5rem;
    right: 45%;
    left: 45%;
    width: fit-content;
    padding: 1rem;
    background-color: rgb(25, 116, 207);
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    visibility: hidden;
    transition: opacity .5s;
    opacity: 0;
}

#extra-info-container:hover {
    padding-bottom: 4rem;
}

#extra-info-container:hover #add-info-button {
    opacity: 1;
    visibility: unset;
}

#extra-info-title {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.extra-info-component {
    grid-area: 1 / 2 / 1 / 2;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 .1rem .01rem gray;
    border: .1rem solid gray;
    border-radius: .5rem;
    padding: .5rem;
    gap: .5rem;
    margin-bottom: .5rem;
    position: relative;
}

#edit-info-button {
    position: absolute;
    top: 0.1rem;
    right: 6rem;
    padding: .7rem;
    background-color: rgb(25, 116, 207);
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    visibility: hidden;
    transition: opacity .1s;
    opacity: 0;
}

#save-info-button {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    padding: .7rem;
    background-color: rgb(25, 116, 207);
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    visibility: hidden;
    transition: opacity .1s;
    opacity: 0;
}

#remove-info-button {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    padding: .7rem;
    background-color: rgb(188, 36, 36);
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    visibility: hidden;
    transition: opacity .1s;
    opacity: 0;
}

.extra-info-component:hover #remove-info-button {
    opacity: 1;
    visibility: unset;
}

.extra-info-component:hover #save-info-button {
    opacity: 1;
    visibility: unset;
}

.extra-info-component:hover #edit-info-button {
    opacity: 1;
    visibility: unset;
}

.extra-info-wrapper {
    display: grid;
    grid-template: 1fr / 1fr 7fr;
    gap: 1rem;
}

span {
    grid-area: 1 / 1 / 1 / 1;
    justify-self: flex-end;
}

textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;;
}

#info-title {
    font-weight: 700;
}